<template>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="type">Tipo</label>
                <input type="text" class="form-control" id="type" name="type" required v-model="category.type"/>            
            </div>
            <button class="btn btn-success" @click="saveCategory">Guardar</button>
        </div>
        sdasdsadssdaadsdassdadsadas
    </div>
</template>

<script>

import DocenteService from '../../service/DocenteService';

export default {
    name:"AddDocument",
  bodyClass: 'profile-page',
  components: { 
    
  },
  data(){
      return{
          crearDocente:{
              id:null,
              nombre:"",
              aPaterno:"",
              aMaterno:""
          }
      }
  },
  methods:{
      postDocente(){
      DocenteService.create(this.crearDocente)
      .then(response =>{
        console.log(response.data);
      })
      .catch(e =>{
        console.log(e);
      })
    },

  },
  mounted(){

  }
}
</script>
