<template>
  <div class="page-header clear-filter" filter-color="orange">
    <div
      class="page-header-image"
      style="
		          background-image:url('img/utez.jpg')"
    ></div>
    <div class="content" >
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto" style=" top: -100px;">
          <img  src="img/now-logo.png" alt="" />  
          <card type="login" plain>
            <div slot="header" class="logo-container">
              
            </div>

            <fg-input
              class="no-border input-lg"
              addon-left-icon="now-ui-icons users_circle-08"
              placeholder="Usuario..."
            >
            </fg-input>

            <fg-input
              class="no-border input-lg"
              addon-left-icon="now-ui-icons objects_key-25"
              placeholder="Contraseña..."
              style=" top: -30px;"
              label="Password"
              type="password"
            >
            </fg-input>

            <template slot="raw-content" >
              <div class="card-footer text-center">
                <a
                  href="#pablo"
                  class="btn btn-primary btn-round btn-lg btn-block"
                  style="position:relative; top: -100px;"
                  >Iniciar Sesion</a
                >
              </div>
              <div class="pull-left">
              </div>
              <div class="pull-right">
                <h6>
                  <a href="#pablo" class="link footer-link" style="position:relative; top: -100px;">¿Necesitas Ayuda?</a>
                </h6>
              </div>
            </template>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Card, Button, FormGroupInput } from '@/components';
import MainFooter from '@/layout/MainFooter';
export default {
  name: 'login-page',
  bodyClass: 'login-page',
  components: {
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  }
};
</script>
<style>

</style>
