<template>
  <div>
    <div class="page-header clear-filter" filter-color="orange" style="height: -100px;">
      <parallax
        class="page-header-image"
        style="background-image:url('img/bg5.jpg');"
      >
      </parallax>
      <div class="container">
        <div class="photo-container">
          <img src="img/ryan.jpg" alt="" />
        </div>
        <h3 class="title">Administrador</h3>

        <div class="content">
          <n-button type="neutral" size="lg" v-b-modal.modal-new-document pill variant="outline-primary">Agregar Docente</n-button>
          <n-button type="neutral" size="lg" v-b-modal.modal-new-document2 pill variant="outline-primary">Agregar Actividad</n-button>
        </div>
        
      </div>
    </div>
    <div class="section">
      <div class="container" style="position: relative; top: -180px; color: white;">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <h3 class="title text-center" style="color: white">Consulta</h3>
          </div>
          <tabs
          pills
          tabContentClasses="tab-subcategories"
          squeare centered class="row"
          type="primary">

            <tab-pane title="Actividades">
              <span slot="label"> 
              <i class="now-ui-icons design_image"> Actividades</i>
              </span>

            <tabs
            pills
            tabContentClasses="tab-subcategories"
            square centered class="row"
            type="success"
          >
            <tab-pane title="Certificaciones">
              <span slot="label"> 
              <i class="now-ui-icons design_image"> Certificaciones</i>
              </span>
              <div class="col-md-12">
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Rubro</th>
                                <th>Actividad</th>
                                <th>Cuatrimestre</th>
                                <th>Año</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr v-for="(certi, index) in certificaciones" :key="index">
                                <td>{{index+1}}</td>
                                <td>{{certi.nombreRubro}}</td>
                                <td>{{certi.nombre}}</td>
                                <td>{{certi.cuatrimestre}}</td>
                                <td>{{certi.anio}}</td>
                            </tr>
                        </tbody>
                    </table>
                  
                </div>
              </div>
            </tab-pane>

            <tab-pane title="Participaciones">
              <span slot="label"> 
              <i class="now-ui-icons design_image"> Participaciones</i>
              </span>
              <div class="col-md-12">
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Rubro</th>
                                <th>Actividad</th>
                                <th>Cuatrimestre</th>
                                <th>Año</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(certi, index) in Participaciones" :key="index">
                                <td>{{index+1}}</td>
                                <td>{{certi.nombreRubro}}</td>
                                <td>{{certi.nombre}}</td>
                                <td>{{certi.cuatrimestre}}</td>
                                <td>{{certi.anio}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </tab-pane>

            <tab-pane title="ParticipacionesAcademicas">
              <span slot="label"> 
              <i class="now-ui-icons design_image"> Participaciones Academicos</i>
              </span>
              <div class="col-md-12">
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Rubro</th>
                                <th>Actividad</th>
                                <th>Cuatrimestre</th>
                                <th>Año</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(certi, index) in participacionesAca" :key="index">
                                <td>{{index+1}}</td>
                                <td>{{certi.nombreRubro}}</td>
                                <td>{{certi.nombre}}</td>
                                <td>{{certi.cuatrimestre}}</td>
                                <td>{{certi.anio}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </tab-pane>

            <tab-pane title="ProductoAcademico">
              <span slot="label"> 
              <i class="now-ui-icons design_image"> Producto Academico</i>
              </span>
              <div class="container">
                <div class="row">
                    <table class="table" >
                        <thead>
                            <tr>
                                <th>Rubro</th>
                                <th>Actividad</th>
                                <th>Cuatrimestre</th>
                                <th>Año</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(certi, index) in productoAca" :key="index">
                                <td>{{index+1}}</td>
                                <td>{{certi.nombreRubro}}</td>
                                <td>{{certi.nombre}}</td>
                                <td>{{certi.cuatrimestre}}</td>
                                <td>{{certi.anio}}</td>
                                <th>Opciones</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </tab-pane>

            <tab-pane title="CursosTeminados">
              <span slot="label"> 
              <i class="now-ui-icons design_image"> Cursos Terminados</i>
              </span>
              <div class="col-md-12">
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Rubro</th>
                                <th>Actividad</th>
                                <th>Cuatrimestre</th>
                                <th>Año</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(certi, index) in cursosTerminados" :key="index">
                                <td>{{index+1}}</td>
                                <td>{{certi.nombreRubro}}</td>
                                <td>{{certi.nombre}}</td>
                                <td>{{certi.cuatrimestre}}</td>
                                <td>{{certi.anio}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
              </div>
            </tab-pane>
          </tabs>
            </tab-pane>

            <tab-pane title="Docentes" @click="getAllDocentes()"> 
              <span slot="label"> 
              <i class="now-ui-icons design_image"> Docentes</i>
              </span>
              <div class="col-md-12">
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Numero</th>
                                <th>Nombre</th>
                                <th>Primer Apellido</th>
                                <th>Segundo Apellido</th>
                                <th>Correo Electronico</th>
                                <th>Ver Actividades</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr v-for="(docen, index) in docentes" :key="index">
                                <td>{{index+1}}</td>
                                <td>{{docen.nombre}}</td>
                                <td>{{docen.apaterno}}</td>
                                <td>{{docen.amaterno}}</td>
                                <td>{{docen.correo}}</td>
                                <td>
                                  <a v-b-modal.modal-new-document3 :href="'/docentes/'+docen.id" class="bt btn-info">
                                  <i class="bi bi-pencil">Edit</i>
                                  </a>
                                  <n-button type="neutral" size="lg" v-b-modal.modal-new-document3  @click="docenteActualizar(docen.id)" >Agregar Docente</n-button>
                                  <n-button type="danger" size="lg"   @click="deleteDocente(docen.id)" >Eliminar Docente</n-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  
                </div>
              </div>
            </tab-pane>

        </tabs>
        </div>
      </div>
    </div>
    <b-modal id="modal-new-document"
      centered
      title="Agregar Docente"
      size="lg"
      ok-variant="info"
      ok-title="Guardar"
      cancel-variant="danger"
      cancel-title="Cancelar"
      @ok="saveDocente()"
    > 
              <div class="inner contact">
                <!-- Form Area -->
                <div class="contact-form">
                    <!-- Form -->
                    <form id="docente">
                        <!-- Left Inputs -->
                        <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                            <!-- Name -->
                            <input type="text" name="nombre" id="nombre" required="required" class="form" placeholder="Nombre" v-model="crearDocente.nombre"/>
                            <!-- Email -->
                            <input type="text" name="apellidoPaterno" id="apellidoPaterno" required="required" class="form" placeholder="Apellido Paterno" v-model="crearDocente.apaterno"/>
                            <!-- Subject -->
                            <input type="text" name="apellidoMaterno" id="apellidoMaterno" required="required" class="form" placeholder="Apellido Materno" v-model="crearDocente.amaterno"/>
                            <input type="mail" name="correo" id="correo" required="required" class="form" placeholder="Correo Electronico" v-model="crearDocente.correo"/>
                            <input type="text" name="contrasena" id="contrasena" required="required" class="form" placeholder="Contraseña Provisional" v-model="crearDocente.contrasenia"/>
                        </div><!-- End Left Inputs -->
                        <!-- Clear -->
                        <div class="clear"></div>
                    </form>

                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->
    </b-modal>
    <b-modal id="modal-new-document2"
      centered
      title="Crear Actividad"
      size="lg"
      ok-variant="info"
      ok-title="Guardar"
      cancel-variant="danger"
      cancel-title="Cancelar"
      @ok="s"
    > 
              <div class="inner contact">
                <!-- Form Area -->
                <div class="contact-form">
                    <!-- Form -->
                    <form id="contact-us" method="post" action="#">
                        <!-- Left Inputs -->
                        <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">

                            <select name="nombreRubro" id="nombreRubro" class="form" required="required">

                              <option value="" disabled="disabled" selected>Seleciona una opcion de Rubro...</option>
                              <option value="Certificacion">Certificacion</option>
                              <option value="Participacion">Participacion</option>
                              <option value="Evento">Evento</option>
                              <option value="Producto">Producto Academico</option>
                              <option value="Curso">Curso</option>

                            </select>

                            <!-- Name -->
                            <input type="text" name="nombre" id="nombre" required="required" class="form" placeholder="Actividad" />
                            <!-- Email -->
                            <select name="cuatrimestre" id="cuatrimestre" class="form" required="required">

                              <option value="" disabled="disabled" selected>Seleciona Cuatrimestre...</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>

                            </select>
                            <!-- Subject -->
                            <input type="number" name="anio" id="anio" required="required" class="form" placeholder="Año a realizar" />
                        </div><!-- End Left Inputs -->
                        <!-- Right Inputs -->
                        <div class="col-xs-6 wow animated slideInRight" style="overflow-y: auto; width : 100%; height : 200px; " data-wow-delay=".5s">
                            <!-- Message -->
                            <table class="table">
                              <thead>
                                  <tr>
                                      <th>Número</th>
                                      <th>Nombre</th>
                                      <th>Apellido</th>
                                      <th>Correo</th>
                                      <th>Seleccionar</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr v-for="(doce, index) in docentes" :key ="index">
                                      <td>{{index+1}}</td>
                                      <td>{{doce.nombre}}</td>
                                      <td>{{doce.apaterno}}</td>
                                      <td>{{doce.correo}}</td>
                                      <td >
                                          <input type="checkbox" name="idDocente[]" :value="doce.id">
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                         
                        </div><!-- End Right Inputs -->
                        <!-- Bottom Submit -->
                        <div class="relative fullwidth col-xs-12">
                            <!-- Send Button -->
                            
                        </div><!-- End Bottom Submit -->
                        <!-- Clear -->
                        <div class="clear"></div>
                    </form>

                    <!-- Your Mail Message -->
                    

                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->
    </b-modal>
    <b-modal id="modal-new-document3"
      centered
      title="Actualizar Docente"
      size="lg"
      ok-variant="info"
      ok-title="Guardar"
      cancel-variant="danger"
      cancel-title="Cancelar"
      @ok="saveDocente()"
    > 
              <div class="inner contact">
                <!-- Form Area -->
                <div class="contact-form">
                    <!-- Form -->
                    <form id="docente">
                        <!-- Left Inputs -->
                        <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                            <!-- Name -->
                            <input type="text" name="nombre" id="nombre" required="required" class="form" placeholder="dd" v-model="crearDocente.nombre"/> holaa -> {{docentesActualizar.nombre}}
                            <!-- Email -->
                            <input type="text" name="apellidoPaterno" id="apellidoPaterno" required="required" class="form" placeholder="Apellido Paterno" v-model="crearDocente.apaterno"/>
                            <!-- Subject -->
                            <input type="text" name="apellidoMaterno" id="apellidoMaterno" required="required" class="form" placeholder="Apellido Materno" v-model="crearDocente.amaterno"/>
                            <input type="mail" name="correo" id="correo" required="required" class="form" placeholder="Correo Electronico" v-model="crearDocente.correo"/>
                            <input type="text" name="contrasena" id="contrasena" required="required" class="form" placeholder="Contraseña Provisional" v-model="crearDocente.contrasenia"/>
                        </div><!-- End Left Inputs -->
                        <!-- Clear -->
                        <div class="clear"></div>
                    </form>

                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->
    </b-modal>
  </div>
</template>
<script>
import { Tabs, TabPane, Button} from '@/components';
import ActividadService from '../service/ActividadService';
import DocenteService from '../service/DocenteService';


export default {
  name: 'IndexAdmin',
  bodyClass: 'profile-page',
  components: { 
    Tabs,
    TabPane,
    [Button.name]: Button
  },
  data(){
    return{
        certificaciones:[],
        participaciones:[],
        participacionAca:[],
        productoAca:[],
        cursosTerminados:[],
        crearDocente:{
          id: null,
          nombre: "",
          apaterno: "",
          apaterno: "",
        },
        crearActividad:{
          id:null,
          nombre:"",
          cuatrimestre:"",
          anio:"",
          nombreRubro:"",
          listaDocente:""
        },
        docentes:[],
        docentesActualizar:[],
    }
  },
  methods:{
    // crear el metodo para consumir el listado
    getAllCertificaciones(){
      //consumir api
      ActividadService.getAllCert()
      .then(response => {
          this.certificaciones = response.data
      })
      .catch(e =>{
        console.log(e);
      })
    },
    getAllParticipaciones(){
      //consumir api
      ActividadService.getAllPart()
      .then(response => {
          this.participaciones = response.data
      })
      .catch(e =>{
        console.log(e);
      })
    },
    getAllParticipacionAca(){
      //consumir api
      ActividadService.getAllPartAca()
      .then(response => {
          this.participacionAca = response.data
      })
      .catch(e =>{
        console.log(e);
      })
    },
    getAllProductoAca(){
      //consumir api
      ActividadService.getAllProductoAca()
      .then(response => {
          this.productoAca = response.data
      })
      .catch(e =>{
        console.log(e);
      })
    },
    getAllCursosTerminados(){
      //consumir api
      ActividadService.getAllCursos()
      .then(response => {
          this.cursosTerminados = response.data
      })
      .catch(e =>{
        console.log(e);
      })
    },
    getAllDocentes(){
      DocenteService.getAll()
      .then(response =>{
        this.docentes = response.data
        console.log("Docente: si");
      })
      .catch(e =>{
        console.log(e);
      })
    },
    postActividad(){
      ActividadService.create(this.crearActividad)
      .then(response =>{
        console.log(response.data);
      })

    },
    getById(id){
      ActividadService.getById(id)
      .then(response =>{
        this.category = response.data
      })
      .catch(e =>{
        console.log(e);
      })
    },
    update(){
      ActividadService.update(this.crearActividad.id, this.crearActividad)
      .then(response =>{
        console.log(response.data);
        this.$router.push("/");
      })
      .catch(e =>{
        console.long(e);
      })
    },
    saveDocente(){
            // Consumir la API
            DocenteService.create(this.crearDocente)
            .then(response =>{
                console.log(response.data);
                
            })
            .catch(e =>{
                console.log(e);
            })
             console.log("Docente: ",this.crearDocente);   
    },
    getByIdDocen(id){
      DocenteService.getById(id)
      .then(response =>{
        this.docentes = response.data
      })
      .catch(e =>{
        console.log(e);
      })
    },
    deleteDocente(id){
            DocenteService.delete(id)
            .then(response =>{
                console.log("Eliminando category: ", response.data )
            })
            .catch(e=>{
                console.log(e);
            })
    }
  },
  mounted(){
    //cualquier accion que se le indique 
    this.getAllDocentes();
    this.getAllCertificaciones();
    this.getAllParticipaciones();
    this.getAllParticipacionAca();
    this.getAllProductoAca();
    this.getAllCursosTerminados();
  }
};
</script>
<style scope>

table{
    table-layout: fixed;
    width: 100%;
}

th, td {
    border-bottom: 1px solid black;
    width: 100%;
    word-wrap: break-word;
}

 #contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#8BC3A3;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}
input {
    position: relative;
    z-index: 9999;
}

</style>
